MANAGER_CHAIN=localhost
OUTPOST_CHAIN_LIST=localhost
EXEC_TYPE=0
LOG_START_BLOCK=1
SUI_OUTPOST_CHAIN_ENDPOINT=http://127.0.0.1:9000

ER_DOCKER_IMAGE_NAME=sparsityxyz/fleet-er:20250423145202

# Please update below envs with your own mnemonic and deployed object address
SUI_OUTPOST_OWNER_MNEMONIC="reveal fold artefact hub unlock emotion seat harsh pelican tone upon mutual"
SUI_OUTPOST_OWNER_ADDRESS=0x9643e82a7a5d8f7c6788b145e3faed7eb02e60c7d5eeca3187ee5b4bc0a0c5f2

SUI_OUTPOST_ADDRESS=0x0766b19cecec5aaded096e4e0f2aa9a01bbf752a6638a412130254d99cb6e1e2
SUI_OUTPOST_SESSION_ADDRESS=0xd07433824bdae7c8dc29ebac3b61362321e96c5182ab99fb2337c6359b133319
SUI_OUTPOST_ADMIN_CAP_ADDRESS=0xf62e4f0250cb5fb38c0e59c6a5f01f3314173701ca217a8e8930df8ede028806

